In [45]:

import pandas as pd
import numpy as np
import holidays
import os

#############################################################################################################
### FUNCTIONS
#############################################################################################################

### ---------------------------------------------------------------------------------------------------------
### Load parquet files (should have 12 months worth of data)
### ---------------------------------------------------------------------------------------------------------

def load_parquet_files(directory):
    files = [f for f in os.listdir(directory) if f.endswith('.parquet')]
    print("Available parquet files (" + str(len(files)) + "): ", files)
    df = pd.concat([pd.read_parquet(os.path.join(directory, f)) for f in files], ignore_index=True)
    df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()
    return df

### ---------------------------------------------------------------------------------------------------------
### General data cleaning (remove duplicates, fill NAs, etc)
### ---------------------------------------------------------------------------------------------------------

def clean_and_filter_columns(df, columns, delay_cols):
    df = df.dropna(axis=1, how='all')
    df = df[[col for col in columns if col in df.columns]].drop_duplicates()
    df[delay_cols] = df[delay_cols].fillna(0)
    df[delay_cols] = df[delay_cols].astype(int)
    return df

### ---------------------------------------------------------------------------------------------------------
### Extract hour (0–23) directly from HHMM-formatted time (e.g., 1420 → 14)
### ---------------------------------------------------------------------------------------------------------

def extract_hour_from_hhmm(df, colname, new_colname):
    df[colname] = pd.to_numeric(df[colname], errors='coerce')  # ensure numeric
    df[new_colname] = (df[colname] // 100).astype('Int64')     # supports NA
    return df

### ---------------------------------------------------------------------------------------------------------
### Filter to only 50 US states & DC (excludes Canadian and other US territories)
### ---------------------------------------------------------------------------------------------------------

def filter_valid_states(df, valid_states):
    return df[df['originstate'].isin(valid_states) & df['deststate'].isin(valid_states)].copy()

### ---------------------------------------------------------------------------------------------------------
### Filter to top 200 airports based on combined arrival and departures
### ---------------------------------------------------------------------------------------------------------

def get_top_airports(df, n=200):
    origin = df['origin'].value_counts()
    dest = df['dest'].value_counts()
    combined = origin.add(dest, fill_value=0)
    return combined.nlargest(n).index

def filter_by_top_airports(df, top_airports):
    return df[
        df['origin'].isin(top_airports) & df['dest'].isin(top_airports)
    ].copy()

### ---------------------------------------------------------------------------------------------------------
### Create categorical feature for proximity to major US holidays
### ---------------------------------------------------------------------------------------------------------

def add_holiday_features(df):

    # Step 1: Convert to datetime
    df['flight_date'] = pd.to_datetime(df[['year', 'month', 'dayofmonth']].rename(columns={'dayofmonth': 'day'}))

    # Step 2: Major holidays and codes
    us_holidays = holidays.US(years=df['year'].unique())

    major_holidays = {
        "New Year's Day": "A",
        "Memorial Day": "B",
        "Independence Day": "C",
        "Labor Day": "D",
        "Thanksgiving Day": "E",
        "Christmas Day": "F"
    }

    # Filter to relevant holiday dates and codes
    holiday_info = [
        (pd.Timestamp(date), code)
        for date, name in us_holidays.items()
        if name in major_holidays
        for code in [major_holidays[name]]
    ]

    if not holiday_info:
        df['holiday_proximity_bucket'] = 5
        df['holiday_code'] = 'NA'
        return df

    # Step 3: Build holiday date array
    holiday_dates = np.array([d[0] for d in holiday_info], dtype='datetime64[D]')
    holiday_codes = np.array([d[1] for d in holiday_info])

    # Step 4: Calculate days difference (vectorized)
    flight_dates = df['flight_date'].values.astype('datetime64[D]')
    date_diffs = flight_dates[:, None] - holiday_dates[None, :]  # shape (N_flights, N_holidays)
    delta_days = np.abs(date_diffs.astype('timedelta64[D]').astype(int))  # in days

    # Step 5: Find nearest holiday within 7 days
    min_diff = np.min(delta_days, axis=1)
    min_idx = np.argmin(delta_days, axis=1)

    # Step 6: Assign bucket based on delta
    bucket = np.full(len(df), 5)  # Default: 5 = not near holiday
    bucket[min_diff == 0] = 1
    bucket[(min_diff == 1)] = 2
    bucket[(min_diff >= 2) & (min_diff <= 3)] = 3
    bucket[(min_diff >= 4) & (min_diff <= 7)] = 4

    # Step 7: Assign holiday code (or NA if not within range)
    code = np.array(['NA'] * len(df), dtype=object)
    within_range = min_diff <= 7
    code[within_range] = holiday_codes[min_idx[within_range]]

    # Step 8: Assign to dataframe
    df['holiday_proximity_bucket'] = bucket
    df['holiday_code'] = code

    return df

#############################################################################################################
### CALL MAIN
#############################################################################################################

# delays defined as more than 15 minutes

if __name__ == "__main__":
    cols = ['year', 'month', 'dayofmonth', 'dayofweek', 'origin', 'dest', 'reporting_airline', 
        'originstate', 'deststate', 'crsdeptime', 'crsarrtime','carrierdelay', 'weatherdelay', 
        'nasdelay', 'securitydelay', 'lateaircraftdelay', 'arrdelayminutes', 'cancelled', 'diverted']
    delay_cols = ['carrierdelay', 'weatherdelay', 'nasdelay', 'securitydelay', 
        'lateaircraftdelay', 'arrdelayminutes']
    state_list = ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN',
        'KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV',
        'NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY']

    df_raw = load_parquet_files("../data/raw")
    df_clean = clean_and_filter_columns(df_raw, cols, delay_cols)
    df_filtered = filter_valid_states(df_clean, state_list)
    df_filtered = df_filtered.drop(columns=['originstate', 'deststate'])
    df_filtered = extract_hour_from_hhmm(df_filtered, 'crsdeptime', 'dep_hour')
    df_filtered = extract_hour_from_hhmm(df_filtered, 'crsarrtime', 'arr_hour')
    df_filtered = df_filtered.drop(columns=['crsdeptime', 'crsarrtime'])
    df_filtered = add_holiday_features(df_filtered)
    df_filtered = df_filtered.drop(columns=['year', 'flight_date'])
    df_filtered['if_delay'] = np.where(df_filtered['arrdelayminutes'] <= 15, '0', '1').astype(int)
    df_filtered['if_cancelled'] = np.where(df_filtered['cancelled'] == 0, '0', '1').astype(int)
    df_filtered['if_diverted'] = np.where(df_filtered['diverted'] == 0, '0', '1').astype(int)
    df_filtered = df_filtered.drop(columns=['cancelled', 'diverted'])
    df_filtered['nonweatherdelay'] = df_filtered['arrdelayminutes'] - df_filtered['weatherdelay']
    top_airports = get_top_airports(df_filtered)
    df_final = filter_by_top_airports(df_filtered, top_airports)
    
    print("✅ FINAL DATASET CREATED")

Available parquet files (12):  ['flight_data_2024_9.parquet', 'flight_data_2025_3.parquet', 'flight_data_2024_8.parquet', 'flight_data_2025_2.parquet', 'flight_data_2025_1.parquet', 'flight_data_2025_4.parquet', 'flight_data_2024_7.parquet', 'flight_data_2024_12.parquet', 'flight_data_2025_5.parquet', 'flight_data_2024_11.parquet', 'flight_data_2025_6.parquet', 'flight_data_2024_10.parquet']
✅ FINAL DATASET CREATED

In [57]:
#############################################################################################################
### SUMMARY STATISTICS DATASET
#############################################################################################################

summary_cols = ['holiday_code', 'dayofweek']

df_summary = df_final.copy().groupby(summary_cols).agg(
    total_flights = ('if_delay', 'count'),
    delayed_flights = ('if_delay', 'sum'),
    cancelled_flights = ('if_cancelled', 'sum'),
    diverted_flights = ('if_diverted', 'sum'),
    total_delay_minutes = ('arrdelayminutes', 'sum'),
    delay_minutes_75th = ('arrdelayminutes', lambda x: int(x.quantile(0.75))),
    delay_minutes_90th = ('arrdelayminutes', lambda x: int(x.quantile(0.90))),
    delay_minutes_95th = ('arrdelayminutes', lambda x: int(x.quantile(0.95))),
    delay_minutes_99th = ('arrdelayminutes', lambda x: int(x.quantile(0.99)))
).reset_index()

# df_summary.to_parquet('../data/processed/summary_dataset.parquet')

df_summary.sort_values(by="delay_minutes_95th")

,holiday_code,dayofweek,total_flights,delayed_flights,cancelled_flights,diverted_flights,total_delay_minutes,delay_minutes_75th,delay_minutes_90th,delay_minutes_95th,delay_minutes_99th
23,D,3,34286,4153,42,80,277732,1,21,43,138
29,E,2,37598,5110,96,41,348441,4,23,45,145
22,D,2,34428,3954,54,108,324049,0,19,47,177
2,A,3,31685,4484,202,40,302237,4,24,48,148
26,D,6,31611,4103,149,37,307375,1,23,50,163
37,F,3,32602,4669,183,111,330416,3,25,53,170
3,A,4,18763,2987,92,117,217101,6,29,55,165
35,F,1,19465,3045,23,21,218069,5,28,56,163
30,E,3,37360,6326,83,70,411107,7,31,57,150
21,D,1,59172,9393,194,148,690461,4,30,60,170
33,E,6,38227,6933,22,33,470640,7,34,63,155
34,E,7,41117,7388,87,40,538488,8,32,63,179
32,E,5,37225,6230,109,39,451486,7,32,64,175
28,E,1,40599,6933,104,36,514553,7,33,64,180
27,D,7,37002,5987,160,92,445860,5,32,64,179
43,NA,2,719132,110159,8886,1565,8655493,4,30,65,187
17,C,4,36493,6563,158,68,474049,7,37,70,175
9,B,3,36383,7360,57,48,502251,10,39,70,174
1,A,2,31124,5897,511,121,417478,8,38,70,176
47,NA,6,677460,117230,7650,1493,9106036,6,35,71,197
12,B,6,33961,6133,103,81,472912,7,36,74,207
15,C,2,38200,7696,271,70,561988,9,40,74,195
10,B,4,39693,8711,135,52,599300,12,44,75,178
44,NA,3,711817,125078,10985,1774,9737566,6,37,75,195
24,D,4,38980,7603,405,157,603492,8,41,76,217
11,B,5,39832,8223,278,126,620363,10,42,79,202
25,D,5,39308,7992,359,108,640416,9,44,81,211
16,C,3,39142,8042,339,97,625660,10,44,82,214
41,F,7,19373,4247,48,22,299469,12,45,83,200
45,NA,4,779555,166651,13127,1836,12713597,11,46,85,209
42,NA,1,758358,154673,9966,1907,12186881,9,45,85,215
46,NA,5,801630,172171,15046,1538,13586446,11,48,90,220
13,B,7,37657,8062,90,94,618975,11,48,90,197
5,A,6,17685,4985,194,53,362899,20,55,91,246
31,E,4,49420,10153,284,76,808709,10,48,91,216
8,B,2,36055,7579,294,141,611055,10,49,92,212
48,NA,7,795382,173605,12426,2173,13975456,11,49,93,231
4,A,5,18500,4785,97,25,356579,17,54,95,224
14,C,1,59797,14695,2008,182,1235752,15,59,105,259
0,A,1,37244,9595,1904,116,788496,17,61,107,253
7,B,1,59428,13718,567,290,1190074,13,56,108,254
38,F,4,38804,9240,742,197,790051,14,59,109,257
19,C,6,36170,9867,1132,110,808143,19,67,111,248
39,F,5,38986,12126,499,122,984310,23,67,112,298
18,C,5,38516,10874,1218,229,977239,21,74,126,280
20,C,7,39829,12464,698,137,1046940,26,80,130,265
40,F,6,37090,12851,517,110,1071747,30,85,132,288
6,A,7,38059,13193,1649,159,1175595,31,90,143,299
36,F,2,14808,3813,155,133,467998,17,87,173,427

In [60]:
#############################################################################################################
### MACHINE LEARNING DATASET
#############################################################################################################

ml_cols = ['month', 'dayofweek', 'origin', 'dest', 'reporting_airline', 'dep_hour', 'holiday_code', 'holiday_proximity_bucket', 'arrdelayminutes']

df_ml = df_final[ml_cols].copy()

df_ml.to_parquet('../data/processed/ml_dataset.parquet')

In [61]:
df_ml

,month,dayofweek,origin,dest,reporting_airline,dep_hour,holiday_code,holiday_proximity_bucket,arrdelayminutes
0,9,7,ABQ,AUS,WN,12,D,2,0
1,9,7,ABQ,BUR,WN,16,D,2,0
2,9,7,ABQ,BWI,WN,10,D,2,0
3,9,7,ABQ,DAL,WN,17,D,2,0
4,9,7,ABQ,DAL,WN,9,D,2,0
...,...,...,...,...,...,...,...,...,...
7064413,10,2,LAX,EWR,UA,8,NA,5,0
7064414,10,2,DEN,DTW,UA,11,NA,5,0
7064415,10,2,ORD,OMA,UA,8,NA,5,0
7064416,10,2,IAH,IAD,UA,20,NA,5,0
7064417,10,2,IAH,EWR,UA,7,NA,5,0

In [4]:

summary_sandbox_cols = ['if_near_holiday']

df_summary_sandbox = df_final.copy().groupby(summary_sandbox_cols).agg(
    total_flights = ('if_delay', 'count'),
    delayed_flights = ('if_delay', 'sum'),
    cancelled_flights = ('if_cancelled', 'sum'),
    diverted_flights = ('if_diverted', 'sum'),
    total_delay_minutes = ('arrdelayminutes', 'sum'),
    delay_minutes_90th = ('arrdelayminutes', lambda x: int(x.quantile(0.90))),
    delay_minutes_95th = ('arrdelayminutes', lambda x: int(x.quantile(0.95))),
    delay_minutes_99th = ('arrdelayminutes', lambda x: int(x.quantile(0.99))),
).reset_index()

df_summary_sandbox['avg_delay'] = df_summary_sandbox['total_delay_minutes'] / df_summary_sandbox['delayed_flights']
df_summary_sandbox['delay_percent'] = (100 * df_summary_sandbox['delayed_flights'] / df_summary_sandbox['total_flights']).round(1)
df_summary_sandbox['delay_percent_str'] = (100 * df_summary_sandbox['delayed_flights'] / df_summary_sandbox['total_flights']).round(1).astype(str) + '%'
df_summary_sandbox['cancelled_percent'] = (100 * df_summary_sandbox['cancelled_flights'] / df_summary_sandbox['total_flights']).round(1).astype(str) + '%'
df_summary_sandbox['diverted_percent'] = (100 * df_summary_sandbox['diverted_flights'] / df_summary_sandbox['total_flights']).round(1).astype(str) + '%'

df_summary_sandbox.sort_values(by='delay_percent').tail(20)

#df_summary_sandbox[df_summary_sandbox['origin'] == "STS"].sort_values(by='delay_percent')

,if_near_holiday,total_flights,delayed_flights,cancelled_flights,diverted_flights,total_delay_minutes,delay_minutes_90th,delay_minutes_95th,delay_minutes_99th,avg_delay,delay_percent,delay_percent_str,cancelled_percent,diverted_percent
0,0,4479058,845266,62952,9557,65762580,40,79,205,77.801047,18.9,18.9%,1.4%,0.2%
1,1,2285953,492463,31446,6866,39158850,48,89,222,79.516329,21.5,21.5%,1.4%,0.3%

Thanksgiving dates in dataset years: []

KeyError: 'flight_date'