In [54]:
import pandas as pd
import os

# Path to your parquet files
data_dir = "../data/raw"

# List all parquet files
files = [f for f in os.listdir(data_dir) if f.endswith('.parquet')]
print("Available parquet files:", files)

# Load all three parquet files into a single DataFrame
dfs = [pd.read_parquet(os.path.join(data_dir, f)) for f in files]
df_all = pd.concat(dfs, ignore_index=True)

df_all = df_all.dropna(axis=1, how='all')

# Quick peek at data
print(df_all.shape)
df_all.head()

Available parquet files: ['flight_data_2024_9.parquet', 'flight_data_2025_3.parquet', 'flight_data_2024_8.parquet', 'flight_data_2025_2.parquet', 'flight_data_2025_1.parquet', 'flight_data_2025_4.parquet', 'flight_data_2024_7.parquet', 'flight_data_2024_12.parquet', 'flight_data_2025_5.parquet', 'flight_data_2024_11.parquet', 'flight_data_2025_6.parquet', 'flight_data_2024_10.parquet']
(7064418, 93)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum
0,2024,3,9,1,7,2024-09-01,WN,19393,WN,N8748Q,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,3,9,1,7,2024-09-01,WN,19393,WN,N7889A,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,3,9,1,7,2024-09-01,WN,19393,WN,N7857B,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,3,9,1,7,2024-09-01,WN,19393,WN,N8567Z,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,3,9,1,7,2024-09-01,WN,19393,WN,N8897K,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TESTING IF GITHUB UPDATES

In [2]:
for col in df_all.columns:
    sample_vals = df_all[col].dropna().unique()[:5]
    print(f"Column '{col}': sample values -> {sample_vals}")

Column 'Year': sample values -> [2024 2025]
Column 'Quarter': sample values -> [3 1 2 4]
Column 'Month': sample values -> [9 3 8 2 1]
Column 'DayofMonth': sample values -> [ 1  2  3  9 10]
Column 'DayOfWeek': sample values -> [7 1 2 3 4]
Column 'FlightDate': sample values -> ['2024-09-01' '2024-09-02' '2024-09-03' '2024-09-09' '2024-09-10']
Column 'Reporting_Airline': sample values -> ['WN' 'YX' 'NK' 'OH' 'OO']
Column 'DOT_ID_Reporting_Airline': sample values -> [19393 20452 20416 20397 20304]
Column 'IATA_CODE_Reporting_Airline': sample values -> ['WN' 'YX' 'NK' 'OH' 'OO']
Column 'Tail_Number': sample values -> ['N8748Q' 'N7889A' 'N7857B' 'N8567Z' 'N8897K']
Column 'Flight_Number_Reporting_Airline': sample values -> [3609. 1159. 1280. 1370. 3208.]
Column 'OriginAirportID': sample values -> [10140 10257 10279 10397 10423]
Column 'OriginAirportSeqID': sample values -> [1014005 1025702 1027903 1039707 1042302]
Column 'OriginCityMarketID': sample values -> [30140 30257 30279 30397 30423]
Column 'Origin': sample values -> ['ABQ' 'ALB' 'AMA' 'ATL' 'AUS']
Column 'OriginCityName': sample values -> ['Albuquerque, NM' 'Albany, NY' 'Amarillo, TX' 'Atlanta, GA' 'Austin, TX']
Column 'OriginState': sample values -> ['NM' 'NY' 'TX' 'GA' 'CT']
Column 'OriginStateFips': sample values -> [35 36 48 13  9]
Column 'OriginStateName': sample values -> ['New Mexico' 'New York' 'Texas' 'Georgia' 'Connecticut']
Column 'OriginWac': sample values -> [86 22 74 34 11]
Column 'DestAirportID': sample values -> [10423 10800 10821 11259 11292]
Column 'DestAirportSeqID': sample values -> [1042302 1080003 1082106 1125904 1129202]
Column 'DestCityMarketID': sample values -> [30423 32575 30852 30194 30325]
Column 'Dest': sample values -> ['AUS' 'BUR' 'BWI' 'DAL' 'DEN']
Column 'DestCityName': sample values -> ['Austin, TX' 'Burbank, CA' 'Baltimore, MD' 'Dallas, TX' 'Denver, CO']
Column 'DestState': sample values -> ['TX' 'CA' 'MD' 'CO' 'NV']
Column 'DestStateFips': sample values -> [48  6 24  8 32]
Column 'DestStateName': sample values -> ['Texas' 'California' 'Maryland' 'Colorado' 'Nevada']
Column 'DestWac': sample values -> [74 91 35 82 85]
Column 'CRSDepTime': sample values -> [1200 1655 1000 1710  900]
Column 'DepTime': sample values -> [1202. 1650.  955. 1713.  859.]
Column 'DepDelay': sample values -> [ 2. -5.  3. -1. -9.]
Column 'DepDelayMinutes': sample values -> [2. 0. 3. 1. 6.]
Column 'DepDel15': sample values -> [0. 1.]
Column 'DepartureDelayGroups': sample values -> [ 0. -1.  2.  5.  1.]
Column 'DepTimeBlk': sample values -> ['1200-1259' '1600-1659' '1000-1059' '1700-1759' '0900-0959']
Column 'TaxiOut': sample values -> [12. 10. 17.  8. 14.]
Column 'WheelsOff': sample values -> [1214. 1700. 1012. 1721.  913.]
Column 'WheelsOn': sample values -> [1435. 1736. 1528. 1943. 1135.]
Column 'TaxiIn': sample values -> [6. 1. 5. 4. 7.]
Column 'CRSArrTime': sample values -> [1445 1755 1540 1955 1140]
Column 'ArrTime': sample values -> [1441. 1737. 1533. 1948. 1139.]
Column 'ArrDelay': sample values -> [ -4. -18.  -7.  -1. -16.]
Column 'ArrDelayMinutes': sample values -> [ 0.  3. 37. 78. 11.]
Column 'ArrDel15': sample values -> [0. 1.]
Column 'ArrivalDelayGroups': sample values -> [-1. -2.  0.  2.  5.]
Column 'ArrTimeBlk': sample values -> ['1400-1459' '1700-1759' '1500-1559' '1900-1959' '1100-1159']
Column 'Cancelled': sample values -> [0. 1.]
Column 'CancellationCode': sample values -> ['A' 'B' 'C' 'D']
Column 'Diverted': sample values -> [0. 1.]
Column 'CRSElapsedTime': sample values -> [105. 120. 220. 100.  80.]
Column 'ActualElapsedTime': sample values -> [ 99. 107. 218.  95. 100.]
Column 'AirTime': sample values -> [ 81.  96. 196.  82.  54.]
Column 'Flights': sample values -> [1.]
Column 'Distance': sample values -> [ 619.  672. 1670.  580.  349.]
Column 'DistanceGroup': sample values -> [3 7 2 4 5]
Column 'CarrierDelay': sample values -> [ 0. 78. 26. 25.  6.]
Column 'WeatherDelay': sample values -> [ 0. 20. 17. 36. 16.]
Column 'NASDelay': sample values -> [37.  0.  7.  1.  5.]
Column 'SecurityDelay': sample values -> [ 0. 17. 14. 24. 42.]
Column 'LateAircraftDelay': sample values -> [  0. 101.  20.  16.  24.]
Column 'FirstDepTime': sample values -> [ 938. 2201. 1210. 1306. 1604.]
Column 'TotalAddGTime': sample values -> [34. 36. 12. 73. 14.]
Column 'LongestAddGTime': sample values -> [34. 36. 12. 73. 14.]
Column 'DivAirportLandings': sample values -> [0. 1. 2. 9. 3.]
Column 'DivReachedDest': sample values -> [1. 0.]
Column 'DivActualElapsedTime': sample values -> [267. 263. 524. 268. 291.]
Column 'DivArrDelay': sample values -> [190. 173. 383. 170. 145.]
Column 'DivDistance': sample values -> [  0. 226. 452. 369. 109.]
Column 'Div1Airport': sample values -> ['SDF' 'TPA' 'BWI' 'CHS' 'STL']
Column 'Div1AirportID': sample values -> [14730. 15304. 10821. 10994. 15016.]
Column 'Div1AirportSeqID': sample values -> [1473004. 1530402. 1082106. 1099402. 1501606.]
Column 'Div1WheelsOn': sample values -> [1622. 1620. 1320. 1908. 1825.]
Column 'Div1TotalGTime': sample values -> [25. 28. 33. 17. 14.]
Column 'Div1LongestGTime': sample values -> [16. 14. 29.  8. 13.]
Column 'Div1WheelsOff': sample values -> [1729. 1736. 1455. 2025. 1925.]
Column 'Div1TailNum': sample values -> ['N299WN' 'N922WN' 'N959WN' 'N429WN' 'N7885A']
Column 'Div2Airport': sample values -> ['TPA' 'BOS' 'SLC' 'FAT' 'MIA']
Column 'Div2AirportID': sample values -> [15304. 10721. 14869. 11638. 13303.]
Column 'Div2AirportSeqID': sample values -> [1530402. 1072102. 1486903. 1163807. 1330303.]
Column 'Div2WheelsOn': sample values -> [1618.  831. 1526.  815. 1831.]
Column 'Div2TotalGTime': sample values -> [17. 23.  3. 40. 25.]
Column 'Div2LongestGTime': sample values -> [12.  3. 29. 13. 78.]
Column 'Div2WheelsOff': sample values -> [1831. 1110. 1007. 2109.  800.]
Column 'Div2TailNum': sample values -> ['N959WN' 'N236JQ' 'N87367' 'N928NN' 'N205NN']
Column 'Div3Airport': sample values -> ['SLC' 'LIT']
Column 'Div3AirportID': sample values -> [14869. 12992.]
Column 'Div3AirportSeqID': sample values -> [1486903. 1299206.]
Column 'Div3WheelsOn': sample values -> [ 35. 929.]
Column 'Div3TotalGTime': sample values -> [ 7. 97.]
Column 'Div3LongestGTime': sample values -> [ 7. 97.]
Column 'Div3WheelsOff': sample values -> [1106.]
Column 'Div3TailNum': sample values -> ['N305CL']

In [8]:
unique_values = df_all["DayofMonth"].dropna().unique()
print(f"All unique values in '{'DayofMonth'}':")
print(unique_values)

All unique values in 'DayofMonth':
[ 8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30  1
  2  3  4  6  7  5 31]

In [55]:
df_remove_cols = df_all[['Month', 'DayofMonth', 'DayOfWeek', 'OriginAirportID', 'DestAirportID', 'Reporting_Airline', 'OriginState', 'DestState', 'Flight_Number_Reporting_Airline', 'CRSDepTime', 'CRSArrTime', 'ArrTime', 
    'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'ArrDelayMinutes']]

df_remove_dups = df_remove_cols.copy().drop_duplicates()

df_remove_dups

,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,Reporting_Airline,OriginState,DestState,Flight_Number_Reporting_Airline,CRSDepTime,CRSArrTime,ArrTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelayMinutes
0,9,1,7,10140,10423,WN,NM,TX,3609.0,1200,1445,1441.0,NaN,NaN,NaN,NaN,NaN,0.0
1,9,1,7,10140,10800,WN,NM,CA,1159.0,1655,1755,1737.0,NaN,NaN,NaN,NaN,NaN,0.0
2,9,1,7,10140,10821,WN,NM,MD,1280.0,1000,1540,1533.0,NaN,NaN,NaN,NaN,NaN,0.0
3,9,1,7,10140,11259,WN,NM,TX,1370.0,1710,1955,1948.0,NaN,NaN,NaN,NaN,NaN,0.0
4,9,1,7,10140,11259,WN,NM,TX,3208.0,900,1140,1139.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064413,10,29,2,12892,11618,UA,CA,NJ,1890.0,845,1654,1631.0,NaN,NaN,NaN,NaN,NaN,0.0
7064414,10,29,2,11292,11433,UA,CO,MI,1889.0,1103,1554,1545.0,NaN,NaN,NaN,NaN,NaN,0.0
7064415,10,29,2,13930,13871,UA,IL,NE,1888.0,845,1023,1011.0,NaN,NaN,NaN,NaN,NaN,0.0
7064416,10,29,2,12266,12264,UA,TX,VA,1887.0,2003,2359,2347.0,NaN,NaN,NaN,NaN,NaN,0.0
7064417,10,29,2,12266,11618,UA,TX,NJ,1886.0,745,1211,1203.0,NaN,NaN,NaN,NaN,NaN,0.0

In [17]:
df_remove_dups[df_remove_dups['CarrierDelay'].notna()]

,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,Reporting_Airline,OriginState,DestState,Flight_Number_Reporting_Airline,CRSDepTime,CRSArrTime,ArrTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelayMinutes
22,9,1,7,10140,14679,WN,NM,CA,670.0,1110,1200,1237.0,0.0,0.0,37.0,0.0,0.0,37.0
33,9,1,7,10279,11259,WN,TX,TX,3878.0,1700,1815,1933.0,78.0,0.0,0.0,0.0,0.0,78.0
62,9,1,7,10397,12339,WN,GA,IN,482.0,1555,1725,1913.0,0.0,0.0,7.0,0.0,101.0,108.0
68,9,1,7,10397,12953,WN,GA,NY,1088.0,1850,2100,2121.0,0.0,0.0,1.0,0.0,20.0,21.0
79,9,1,7,10397,13232,WN,GA,IL,875.0,1845,1935,2001.0,26.0,0.0,0.0,0.0,0.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064330,10,29,2,11193,12266,UA,KY,TX,1982.0,835,1024,1202.0,98.0,0.0,0.0,0.0,0.0,98.0
7064345,10,29,2,11292,11066,UA,CO,OH,1969.0,1745,2236,2318.0,0.0,0.0,0.0,0.0,42.0,42.0
7064369,10,29,2,13931,13930,UA,VA,IL,1944.0,640,803,1255.0,292.0,0.0,0.0,0.0,0.0,292.0
7064382,10,29,2,12264,14679,UA,VA,CA,1930.0,845,1123,1219.0,22.0,0.0,34.0,0.0,0.0,56.0
7064410,10,29,2,12892,14771,UA,CA,CA,1893.0,1134,1305,1339.0,0.0,0.0,0.0,0.0,34.0,34.0

In [56]:
df_0s = df_remove_dups.copy()

columns_to_fill = ['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
df_0s[columns_to_fill] = df_0s[columns_to_fill].copy().fillna(0)

df_0s[df_0s['OriginState'].notna()]

,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,Reporting_Airline,OriginState,DestState,Flight_Number_Reporting_Airline,CRSDepTime,CRSArrTime,ArrTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelayMinutes
0,9,1,7,10140,10423,WN,NM,TX,3609.0,1200,1445,1441.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,1,7,10140,10800,WN,NM,CA,1159.0,1655,1755,1737.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,1,7,10140,10821,WN,NM,MD,1280.0,1000,1540,1533.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,1,7,10140,11259,WN,NM,TX,1370.0,1710,1955,1948.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,1,7,10140,11259,WN,NM,TX,3208.0,900,1140,1139.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064413,10,29,2,12892,11618,UA,CA,NJ,1890.0,845,1654,1631.0,0.0,0.0,0.0,0.0,0.0,0.0
7064414,10,29,2,11292,11433,UA,CO,MI,1889.0,1103,1554,1545.0,0.0,0.0,0.0,0.0,0.0,0.0
7064415,10,29,2,13930,13871,UA,IL,NE,1888.0,845,1023,1011.0,0.0,0.0,0.0,0.0,0.0,0.0
7064416,10,29,2,12266,12264,UA,TX,VA,1887.0,2003,2359,2347.0,0.0,0.0,0.0,0.0,0.0,0.0
7064417,10,29,2,12266,11618,UA,TX,NJ,1886.0,745,1211,1203.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
state_codes = ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN',
    'KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY',
    'OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY']

df_state_filter = df_0s[df_0s['OriginState'].isin(state_codes) & df_0s['DestState'].isin(state_codes)].copy()

df_state_filter

,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,Reporting_Airline,OriginState,DestState,Flight_Number_Reporting_Airline,CRSDepTime,CRSArrTime,ArrTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelayMinutes
0,9,1,7,10140,10423,WN,NM,TX,3609.0,1200,1445,1441.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,1,7,10140,10800,WN,NM,CA,1159.0,1655,1755,1737.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,1,7,10140,10821,WN,NM,MD,1280.0,1000,1540,1533.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,1,7,10140,11259,WN,NM,TX,1370.0,1710,1955,1948.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,1,7,10140,11259,WN,NM,TX,3208.0,900,1140,1139.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064413,10,29,2,12892,11618,UA,CA,NJ,1890.0,845,1654,1631.0,0.0,0.0,0.0,0.0,0.0,0.0
7064414,10,29,2,11292,11433,UA,CO,MI,1889.0,1103,1554,1545.0,0.0,0.0,0.0,0.0,0.0,0.0
7064415,10,29,2,13930,13871,UA,IL,NE,1888.0,845,1023,1011.0,0.0,0.0,0.0,0.0,0.0,0.0
7064416,10,29,2,12266,12264,UA,TX,VA,1887.0,2003,2359,2347.0,0.0,0.0,0.0,0.0,0.0,0.0
7064417,10,29,2,12266,11618,UA,TX,NJ,1886.0,745,1211,1203.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df_state_filter['DestAirportID'].value_counts().head(200)

DestAirportID
10397    325244
11298    317134
11292    314158
13930    293715
11057    212076
          ...
11111      1898
13061      1881
11982      1863
10157      1862
10747      1838
Name: count, Length: 200, dtype: int64

In [52]:
import numpy as np

In [59]:
df_state_filter.loc[:, 'delay_bin'] = np.where(df_state_filter['ArrDelayMinutes'] == 0, 'N', 'Y')

In [74]:

# Count how many times each airport appears as origin
origin_counts = df_state_filter['OriginAirportID'].value_counts()

# Count how many times each airport appears as destination
dest_counts = df_state_filter['DestAirportID'].value_counts()

# Combine counts by adding them together, fill missing with 0 before adding
combined_counts = origin_counts.add(dest_counts, fill_value=0)

# Get top 200 airports by combined count
top_200_airports = combined_counts.nlargest(200).index

# Filter rows where both origin and destination are in the top 200 airports
airport_df = df_state_filter[
    (df_state_filter['OriginAirportID'].isin(top_200_airports)) &
    (df_state_filter['DestAirportID'].isin(top_200_airports))
]

airport_df

,Month,DayofMonth,DayOfWeek,OriginAirportID,DestAirportID,Reporting_Airline,OriginState,DestState,Flight_Number_Reporting_Airline,CRSDepTime,CRSArrTime,ArrTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelayMinutes,delay_bin
0,9,1,7,10140,10423,WN,NM,TX,3609.0,1200,1445,1441.0,0.0,0.0,0.0,0.0,0.0,0.0,N
1,9,1,7,10140,10800,WN,NM,CA,1159.0,1655,1755,1737.0,0.0,0.0,0.0,0.0,0.0,0.0,N
2,9,1,7,10140,10821,WN,NM,MD,1280.0,1000,1540,1533.0,0.0,0.0,0.0,0.0,0.0,0.0,N
3,9,1,7,10140,11259,WN,NM,TX,1370.0,1710,1955,1948.0,0.0,0.0,0.0,0.0,0.0,0.0,N
4,9,1,7,10140,11259,WN,NM,TX,3208.0,900,1140,1139.0,0.0,0.0,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064413,10,29,2,12892,11618,UA,CA,NJ,1890.0,845,1654,1631.0,0.0,0.0,0.0,0.0,0.0,0.0,N
7064414,10,29,2,11292,11433,UA,CO,MI,1889.0,1103,1554,1545.0,0.0,0.0,0.0,0.0,0.0,0.0,N
7064415,10,29,2,13930,13871,UA,IL,NE,1888.0,845,1023,1011.0,0.0,0.0,0.0,0.0,0.0,0.0,N
7064416,10,29,2,12266,12264,UA,TX,VA,1887.0,2003,2359,2347.0,0.0,0.0,0.0,0.0,0.0,0.0,N
7064417,10,29,2,12266,11618,UA,TX,NJ,1886.0,745,1211,1203.0,0.0,0.0,0.0,0.0,0.0,0.0,N

In [79]:
summary = airport_df.groupby(['OriginAirportID', 'DestAirportID', 'Reporting_Airline', 'Month', 'DayOfWeek', 'delay_bin']).agg(
    delay_sum=('ArrDelayMinutes', 'sum'),
    count=('ArrDelayMinutes', 'count')
).reset_index()

summary

summary.to_csv('summary.csv', index=False)
summary.to_parquet('summary.parquet', index=False)

In [78]:
summary

,OriginAirportID,DestAirportID,Reporting_Airline,Month,DayOfWeek,delay_bin,delay_sum,count
0,10135,10397,9E,7,1,N,0.0,11
1,10135,10397,9E,7,1,Y,236.0,4
2,10135,10397,9E,7,2,N,0.0,10
3,10135,10397,9E,7,2,Y,46.0,5
4,10135,10397,9E,7,3,N,0.0,11
...,...,...,...,...,...,...,...,...
1215370,16869,13487,OO,12,5,Y,443.0,5
1215371,16869,13487,OO,12,6,N,0.0,4
1215372,16869,13487,OO,12,6,Y,476.0,6
1215373,16869,13487,OO,12,7,N,0.0,4
1215374,16869,13487,OO,12,7,Y,933.0,7